.topnav a:hover {
     border-bottom: 3px solid #fd5da8;
}
.navbar{
     background-color:  azure;
     color: #C0C0C0;
     height: 10vh;
}
.btn{
     border: 1px solid #fd5da8;
}
.form-control{
     border: 1px solid #fd5da8;
}
.nav-link btn{
     color: #C0C0C0;
}
.sidenav{
     /* border: 2px solid #fd5da8; */
     padding: 16px;
     margin-top: 6px;
     background-color: azure;
     border-radius: 4px;

}
.body{
     height: 100%;
     /* border: 2px solid red; */
     background-color: pink;
}
.options{
     height: 100%;
     /* border: 2px solid teal; */
     /* width: 100%; */
}
.footer{
     height: 45vh;
     /* border: 2px solid green; */
     background: #494f55;
     color: white;
     padding-top: 18px;
}

.row.content {height: 550px}
    
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
.startButton{
     padding: 6px;

     /* border:2px solid slateblue; */
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

.well{
     height: 100%;

     /* border: 2px solid yellow; */
}
.box{
     height: 100%;
     border-radius: 4px;
}
.banner{
     padding: 6px;
     /* border: 2px solid blue; */
}

/* .carouselExampleIndicators{
     border: 2px solid palegreen;
} */
 /* .info{
     border: 2px solid darkorange;

 } */

.carousel-item img{
     /* background-image: url('/img/pic3.webp'); */
     /* border: 2px solid #fd5da8; */
     height: 45px;
     /* width: 40%; */
     background-repeat: no-repeat;
     /* background-size: 100% 100%; */
     background-size: cover;

     height: 400px;
}